<div class="form-wrapper">
	<div class="form-header">
		<h2 class="form-title">Login</h2>
  </div>
	<div class="form-container">
		<%= form_with scope: :session, url: sessions_path, method: "post" do |f| %>
			<div class="field">
				<%= f.label :email, "E-mail Addres", class: "form-label" %>
				<%= f.email_field :email, class: "form-field text-field" %>
			</div>

			<div class="field">
				<%= f.label :password, "Password", class: "form-label" %>
				<%= f.password_field :password, class: "form-field text-field password" %>
			</div>

			<div class="remember-field">
				<%= f.label :remember_me do %>
					<%= f.check_box :remember_me %>
					<span>Remember me</span>
				<% end %>
			</div>

			<%= f.submit "確定", class:"submit" %>
			<%= link_to  "Forgot Your Password?", root_path, class: "forgot_link" %>
		<% end %>	
	</div>
</div>
