<div class="form-wrapper">
	<div class="form-header">
		<h2 class="form-title">Register</h2>
  </div>
	<div class="form-container">
		<%= form_with model: @user, url: users_path, method: "post" do |f| %>

			<% if @user.errors.any? %>
				<div id="error_explanation">
					<h2><%= @user.errors.count %> 件のエラーがあります</h2>
					<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
					</ul>
				</div>
			<% end %>

			<div class="field">
				<%= f.label :name, "Name", class: "form-label" %>
				<%= f.text_field :name, class: "form-field text-field" %>
			</div>

			<div class="field">
				<%= f.label :email, "E-mail Addres", class: "form-label" %>
				<%= f.email_field :email, class: "form-field text-field" %>
			</div>

			<div class="field">
				<%= f.label :password, "Password", class: "form-label" %>
				<%= f.password_field :password, class: "form-field text-field password" %>
			</div>

			<div class="field">
				<%= f.label :password_confirmation, "Confirm Password", class: "form-label" %>
				<%= f.password_field :password_confirmation, class: "form-field text-field password" %>
			</div>

			<%= f.submit "確定", class:"submit" %>
		<% end %>	
	</div>
</div>