<% @posts.each do |post| %>
  <div class ="post-container">
    <article>
      <h2 class ="post-main-title"><%= post.title %></h2>
      <p class ="post-sub-title"><%= post.content %></p>
      <div class ="post-wrapper">
        <p class ="post-user-name"><%= "投稿者：#{post.user.name}" %></p>
        <% if post.user == current_user %>
          <%= link_to  "編集する", edit_post_path(post), class: "post-edit-btn" %>
          <%= link_to  "削除する", post_path(post), method: :delete, class: "post-delete-btn" %>
        <% else %>
          <% if post.favorited_by?(current_user) %>
            <%= link_to favorites_path(post_id: post.id), method: :delete, class: "favorite-btn" do %>
              <i class="fas fa-heart"></i><%= post.favorites.count%>
            <% end %>
          <% else %>
            <%= link_to favorites_path(post_id: post.id), method: :post, class: "favorite-btn" do %>
              <i class="far fa-heart"></i><%= post.favorites.count %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </article>
  </div>
<% end %>
